@model RentAMovies.Models.ViewModels.RentalListViewModel
@using RentAMovies.Utility
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Past Rental List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
   
    <div>
        @if (Model.Rentals.Count() > 0)
        {
            <table class="table table-responsive-sm table-hover table-bordered">
                <tr class="table-success">
                    <th class="text-center">
                        @Html.DisplayNameFor(m => m.Rentals[0].RentalHeader.Id)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(m => m.Rentals[0].RentalHeader.RentalDate)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(m => m.Rentals[0].RentalHeader.ApplicationUser.Email)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(m => m.Rentals[0].RentalHeader.Status)
                    </th>
                    <th class="text-center">
                        Total Items
                    </th>
                    <th class="text-center">Select</th>

                </tr>
                @foreach (var item in Model.Rentals)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.RentalHeader.Id)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.RentalHeader.RentalDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(m => item.RentalHeader.ApplicationUser.Email)
                        </td>
                        @if (item.RentalHeader.Status == SD.RentalprocesStatusCompleted)
                        {
                            <td class="text-center text-success">
                                @Html.DisplayFor(m => item.RentalHeader.Status)
                            </td>
                        }
                        @if (item.RentalHeader.Status == SD.RentalprocesStatusAcitve)
                        {
                    <td class="text-center text-info">
                        @Html.DisplayFor(m => item.RentalHeader.Status)
                    </td>
                        }
                    <td class="text-center">
                        @Html.DisplayFor(m => item.RentalDetails.Count)
                    </td>
                        <td class="text-center">
                            <a asp-action="GetRentalDetails" asp-route-id="@item.RentalHeader.Id" class="myButtonBlue text-white anchorDetail"><i class="far fa-list-alt"></i> </a>
                            <a asp-action="FinishRental" asp-route-id="@item.RentalHeader.Id" class="myButtonGreen text-white "><i class="fa fa-check"></i> </a>
                            <a asp-action="DeleteRental" asp-route-id="@item.RentalHeader.Id" class="myButtonRed text-white "><i class="fas fa-trash"></i> </a>

                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn myButtonBlue text-white active"
                 class="btn-group float-right">
            </div>
            <br /> }
        else
        {
            <p>No rentals exists...</p>}
    </div>
</div>